.Account__main {
  background: #f3f3f3;
  height: 100%;
}

.bd__wrapper {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: inherit;
}

.bd__container {
  margin-top: 0px;
  margin-left: 0px;
  justify-content: center;
  padding: 0px;
  display: inline-flex;
  flex-direction: row;
}

.bd__box {
  display: inline-flex;
  padding-left: 3rem;
  padding-right: 3rem;
  flex-wrap: nowrap;
  padding-bottom: 5rem;
  flex-direction: row;
}


.account__inline {
  display: inline-block;
  vertical-align: middle;
}

.profileScreen__account {
  color: #333;
  font-size: 2.15rem;
  margin: 0 0 0.55em;
  font-weight: 500;
}

.member__since__svg {
  display: inline-flex;
  margin-right: 5px;
  align-items: center;
}

.member__since {
  align-items: center;
  color: #555;
  display: inline-flex;
  font-size: 0.8rem;
  font-weight: 700;
  margin-left: 20px;
  padding: 5px 14px 5px 0;
  text-align: center;
}

.account__details {
}

/* @media screen and (min-width: 480px) {
  .profileScreen {
    height: 100%;
    background: #fff;
    color: #fff;
  }

  .profileScreen__body {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5.9%;
    max-width: 800px;
    color: #000;
  }

  .profileScreen__info {
    display: flex;
    font-size: x-large;
  }

  .profileScreen__account {
    font-size: 30px;
    font-weight: 400;
    padding-left: 40px;
    z-index: 1;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
  }


  .profileScreen__info > img {
    height: 35px;
  }

  .profileScreen__details {
    color: #000;
    margin-left: 10px;
    flex: 1;
  }

  .profileScreen__details > h2 {
    background-color: gray;
    padding: 9px;
    font-size: 13px;
    padding-left: 20px;
  }

  .profileScreen__signout {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 3%;
    width: 100%;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background-color: #e50914;
  }

  .profileScreen__signout:hover {
    background: #000000;
    transition-duration: 255ms;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
  }
  .profileScreen__plans > h4 {
    border-bottom: solid 1px #282c2d;
    padding-bottom: 10px;
  }
  .profileScreen__plans {
    margin-top: 10px;
  }
}
@media screen and (max-width: 480px) {
  .profileScreen {
    height: 100vh;
    color: #fff;
  }

  .profileScreen__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 8%;
    max-width: 20rem;
  }

  .profileScreen__info {
    display: flex;
    font-size: x-large;
  }

  .profileScreen__body > h1 {
    font-size: 2rem;
    font-weight: 400;
    z-index: 1;
    margin-top: 3rem;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 2rem;
  }

  .profileScreen__info > img {
    height: 3rem;
  }

  .profileScreen__details {
    color: #fff;
    margin-left: 1rem;
    flex: 1;
  }

  .profileScreen__details > h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
  }

  .profileScreen__signout {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background-color: #e50914;
  }
  .profileScreen__plans > h3 {
    border-bottom: solid 1px #282c2d;
    padding-bottom: 10px;
  }
  .profileScreen__plans {
    margin-top: 20px;
  }
} */
