@media screen and (min-width: 480px) {
  .planScreen__plan {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
  }
  .planScreen__plan:hover {
    opacity: 1;
  }
  .planScreen__plan > button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    background-color: #e50914;
  }
}

@media screen and (max-width: 480px) {
  .planScreen__plan {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
  }
  .planScreen__plan:hover {
    opacity: 1;
  }
  .planScreen__plan > button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    margin-left: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    background-color: #e50914;
  }
}
