@media screen and (min-width: 480px) {
  .profileScreen {
    height: 100%;
    background: #fff;
    color: #fff;
  }

  .profileScreen__body {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5.9%;
    max-width: 800px;
    color: #000;
  }

  .profileScreen__info {
    display: flex;
    font-size: x-large;
  }

  .profileScreen__editProfile {
    font-size: 30px;
    font-weight: 400;
    z-index: 1;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
  }

  .profileScreen__info > img {
    height: 35px;
  }

  .profileScreen__details {
    color: #000;
    margin-left: 10px;
    flex: 1;
  }

  .profileScreen__details > h2 {
    background-color: gray;
    padding: 9px;
    font-size: 13px;
    padding-left: 20px;
  }

  .profileScreen__signout {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 3%;
    width: 100%;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background-color: #e50914;
  }

  .profileScreen__signout:hover {
    background: #000000;
    transition-duration: 255ms;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
  }
  .profileScreen__plans > h4 {
    border-bottom: solid 1px #282c2d;
    padding-bottom: 10px;
  }
  .profileScreen__plans {
    margin-top: 10px;
  }
}
@media screen and (max-width: 480px) {
  .profileScreen {
    height: 100vh;
    color: #fff;
  }

  .profileScreen__body {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 50%;
    padding: 8%;
    max-width: 20rem;
  }

  .profileScreen__info {
    display: flex;
    font-size: x-large;
  }

  .profileScreen__body > h1 {
    font-size: 2rem;
    font-weight: 400;
    z-index: 1;
    margin-top: 3rem;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 2rem;
  }

  .profileScreen__info > img {
    height: 3rem;
  }

  .profileScreen__details {
    color: #fff;
    margin-left: 1rem;
    flex: 1;
  }

  .profileScreen__details > h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
  }

  .profileScreen__signout {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background-color: #e50914;
  }
  .profileScreen__plans > h3 {
    border-bottom: solid 1px #282c2d;
    padding-bottom: 10px;
  }
  .profileScreen__plans {
    margin-top: 20px;
  }
}
